## Import modules

These are the bare minimum models required to run the code in this example notebook.  Feel free to add more if you modify this notebook (for example, if you want to manually make some custom plots, you would likely import matplotlib).

In [3]:
import numpy as np
import pandas as pd
from IPython.display import display
from ALS import KineticModel

## Define or import the user model function

In [ ]:
from ex_model_1 import model_H2O2_depletion

## Load and organize species data

Step 1:

In [12]:
tbin = 10                    # tbin used when data was loaded from Igor
t_start = -20                # Trim the data to t_start (ms)
t_end = 59.8                 # Trim the data to t_end (ms)
fn_val = 'ex_data_val_1.csv' # Filename for the data values
fn_err = 'ex_data_err_1.csv' # Filename for the error in the data

dt = 0.02                    # Fundaemental kinetic time step (ms)
t = np.linspace(-20,130,num=int(150/(dt*tbin)),endpoint=False)

df_val = pd.read_csv(fn_val)
df_err = pd.read_csv(fn_err)

idx_start = np.abs(t-t_start).argmin()
idx_end = np.abs(t-t_end).argmin()
drop_indices = np.concatenate((np.arange(idx_start),np.arange(idx_end+1,t.size)))

t = t[idx_start:idx_end+1]
df_val = df_val.drop(drop_indices, axis=0).reset_index(drop=True)
df_err = df_err.drop(drop_indices, axis=0).reset_index(drop=True)

        t    H2O2    OH     HO2
0   -20.0  6135.0 -0.82   -3.15
1   -19.8  6162.0  0.18   -4.15
2   -19.6  6025.0  0.18   -3.15
3   -19.4  6005.0 -0.82   -4.15
4   -19.2  6027.0 -0.82    5.85
5   -19.0  6101.0 -0.82    6.85
6   -18.8  6033.0  1.18   -1.15
7   -18.6  6151.0 -0.82   -1.15
8   -18.4  5979.0  1.18   -0.15
9   -18.2  6031.0 -0.82    0.85
10  -18.0  6165.0  1.18    0.85
11  -17.8  6112.0  0.18   -7.15
12  -17.6  6110.0 -0.82   -9.15
13  -17.4  6088.0  1.18    2.85
14  -17.2  6138.0  0.18   -3.15
15  -17.0  6028.0 -0.82    2.85
16  -16.8  6025.0  1.18    8.85
17  -16.6  6075.0 -0.82    4.85
18  -16.4  6126.0 -0.82    2.85
19  -16.2  5912.0  0.18   -5.15
20  -16.0  6076.0 -0.82   -1.15
21  -15.8  5952.0  1.18   15.85
22  -15.6  5995.0  2.18    2.85
23  -15.4  5880.0 -0.82   -1.15
24  -15.2  5934.0 -0.82   -3.15
25  -15.0  6095.0  0.18   -6.15
26  -14.8  5985.0  0.18    2.85
27  -14.6  6102.0  1.18    7.85
28  -14.4  6066.0  0.18   10.85
29  -14.2  6056.0  1.18   12.85
..    ...     ...   ...     ...
370  54.0  6040.0  0.18  429.85
371  54.2  6133.0  0.18  464.85
372  54.4  6000.0  1.18  405.85
373  54.6  5879.0  0.18  433.85
374  54.8  5952.0 -0.82  455.85
375  55.0  5871.0  1.18  483.85
376  55.2  5965.0  0.18  402.85
377  55.4  5882.0 -0.82  425.85
378  55.6  5926.0 -0.82  422.85
379  55.8  5949.0  0.18  442.85
380  56.0  5928.0  0.18  449.85
381  56.2  5999.0 -0.82  419.85
382  56.4  6032.0 -0.82  417.85
383  56.6  6017.0  0.18  401.85
384  56.8  5960.0  1.18  431.85
385  57.0  6004.0 -0.82  423.85
386  57.2  5957.0  0.18  411.85
387  57.4  6102.0 -0.82  445.85
388  57.6  5935.0  1.18  458.85
389  57.8  5926.0  0.18  416.85
390  58.0  5985.0 -0.82  450.85
391  58.2  5945.0 -0.82  402.85
392  58.4  6004.0  1.18  431.85
393  58.6  5952.0  0.18  427.85
394  58.8  5928.0  1.18  424.85
395  59.0  5957.0  1.18  410.85
396  59.2  5959.0 -0.82  426.85
397  59.4  5980.0 -0.82  397.85
398  59.6  5951.0 -0.82  424.85
399  59.8  5764.0  2.18  398.85

[400 rows x 4 columns]

400

Step 2:

## Organize model and ALS parameters